@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none !important;
    }

    .navigation {
        display: block !important;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .navigation a {
        border: none;
    }
}